@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oleo+Script&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: auto;
    max-width: 80%;
    line-height: 1.5;
}
header {
    font-family: 'Oleo Script', cursive;
    background-color: #12bbee;
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    border-radius: 8px;
    color: white;
}

#mainImg {
    float: left;
    width: 15%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 5px grey;
    border-radius: 3%;
    margin: 2% 5% 2% 5%;
    clear: right;
}

.page-title {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 10%;
}

main {
    clear: left;
    font-size: 20px;
    margin-top: 0px 5px 0px 5px;
    padding: 2%;
    border-radius: 8px;
}

#note {
    font-size: 14px;
    font-style: italic;
}

footer {
    background-color: #12bbee;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
    
}

#currentday {
    font-size: 16px;
    margin-top: -10px;
    text-align: center;
}