@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oleo+Script&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 0 auto;
    max-width: 90%;
    line-height: 1.5;
}
header {
    font-family: 'Oleo Script', cursive;
    background-color: #12bbee;
    width: 100%;
    margin: 0 auto;
    padding: 2% 2% 0% 2%;
    font-size: 1.4em;
    border-radius: 8px;
    color: white;
    line-height: 2.2em;
}

#mainImg {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 10px 5px grey;
    border-radius: 3%;
}

.page-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
}

.page-subtitle {
    margin: 0%;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 1.6rem;
}


main {
    clear: left;
    font-size: 20px;
    margin-top: 0px 5px 0px 5px;
    padding: 2%;
    border-radius: 8px;
}

#note {
    margin: 0%;
    font-size: 1em;
    font-style: italic;
}

footer {
    background-color: #12bbee;
    text-align: center;
    padding: 1%;
    border-radius: 8px;
    font-family: 'Oleo Script', cursive;
    font-size: 1em;  
}

footer p {
    margin: 0.2em;
}

#currentday {
    font-size: 16px;
    margin-top: -10px;
    text-align: center;
}