@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oleo+Script&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.5;
}

header {
    font-family: 'Oleo Script', cursive;
    font-size: 1.4em;
    line-height: 2.2em;
}

.page-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
    text-shadow: 0px 4px darkgray;
}

#mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-bottom: 1em;
}

img[data-src] {
    filter: blur(0.3em);
  }

img {
    max-width: 100%;
    margin: 0 auto;
    filter: blur(0);
    transition: filter 0.5s;
}

footer {
    background-color: #12bbee;
    text-align: center;
    padding: 1%;
    border-radius: 8px;
    font-family: 'Oleo Script', cursive;
    font-size: 1em;  
}

footer p {
    margin: 0.2em;
}

footer a {
    text-decoration: none;
    color: darkred;
    font-size: 1.2em;
}

#currentday {
    font-size: 16px;
    margin-top: -10px;
    text-align: center;
}