@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Girassol&family=Quicksand:wght@300&display=swap');

.logo {
  width: 100px;
  margin-right: 2%;
  margin-left: 10%;
}

.icon-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: darkgray;
  padding: 5px 5px;
  cursor: pointer;
  opacity: 90%;
}

.title-page {
  font-family: 'Girassol';
  font-size: 1.6rem;
  text-shadow: 0 2px 15px gray;
}

.subtitles {
  color: darkred;
}

.subtitles, h3 {
  font-family: 'Bebas Neue', cursive;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
}

/*NAVIGATION*/
nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

nav {
  background-color: darkred;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.4rem;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 15px gray;
}

nav ul {
  display: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav ul li {
  padding: 1%;
  list-style: none;
  border-top: 1px solid rgb(0, 0, 0, 0.5);
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  padding: .8rem 2vw;
}

.active {
  background-color: darkgray;
  opacity: 90%;
}

.active a {
  color: black;
}

nav ul li:hover {
  background-color: darkgray;
  font-size: 1.5rem;
  opacity: 90%;
}

main {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 2px 15px gray;
  padding: 5px 10px 0px 10px;
}

.paragraph, #scenarios {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: justify;
  line-height: 1.2rem;
}

.paragraph img {
  max-width: 100%;
}

#scenarios {
  padding-bottom: 1%;
}

footer {
  background-color: darkred;
  font-family: 'Bebas Neue', cursive;;
  text-align: center;
  padding: 1%;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 2px 15px gray;
}

#to-portal-page {
  text-decoration: none;
  color: whitesmoke;
}

#to-portal-page:hover {
  box-shadow: 0 2px 15px gray;
  padding: 5px 10px 0px 10px;
}

/*Large view*/
@media (min-width: 50em) {
  /* Horizontal menu*/
  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
    text-align: center;
    font-size: 1.6rem;
    border-left: 1px solid rgb(0, 0, 0, 0.5);
  }

  nav ul li {
    flex: 1 1 auto;
    border: none;
    border-right: 1px solid rgb(0, 0, 0, 0.5);
  }

  .logo {
    max-width: 100%;
  }

  .title-page {
    font-size: 2rem;
  }

  .paragraph, #domain, #scenarios {
    font-size: 1.3rem;
    font-weight:600;
    line-height: 1.7rem;
  }

  .persons {
    float: left;
    max-width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
    clear: left;
  }
  
  h2, h3, #scenarios {
    clear: both;
  }

}