@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Girassol&family=Quicksand:wght@300&display=swap');

.banner {
  text-align: center;
  background-color: darkred;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.3rem;
  padding: 1% 1%;
}

#banner {
  display: none;
}

.icon-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 2px 15px darkgray;
  padding: 5px 5px;
  cursor: pointer;
  opacity: 90%;
}

header {
	background-color: #fff;
	display: grid;
  grid-gap: 4%;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  box-shadow: 0 2px 15px gray;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
  grid-column: 1;
	width: 80px;
}

.headings {
  display: flex;
	flex-direction: column;
}

.headings h1 {
	font-family: 'Girassol';
  font-size: 1.3rem;
  margin-bottom: 1%;
  text-shadow: 0 2px 15px gray;
}

.headings h2 {
  font-family: 'Bebas Neue', cursive;
  margin-top: 0%;
	color: darkred;
	font-weight: 700;
	font-size: 1rem;
}

.social {
  grid-column: 3/4;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.social img {
	max-width: 28px;
}

#headerDate {
  grid-column: 1/5;
  background-color: darkred;
  font-family: 'Bebas Neue', cursive;
  font-size: 1em;
  letter-spacing: 0.2rem;
  padding: 2%;
  color: white;
  text-align: center;
  margin: 2%;
}

/*NAVIGATION*/
nav button {  
  background: darkred;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 3%;
}

nav {
  grid-column: 1/5;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 15px gray;
}

nav ul {
  display: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav ul li {
  padding: 1%;
  list-style: none;
  background-color: darkred;
  border-top: 1px solid rgb(0, 0, 0, 0.5);
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  padding: .8rem 2vw;
}

.active {
  background-color: darkgray;
  opacity: 90%;
}

.active a, nav ul li a:hover {
  color: darkred;
  font-size: 1.4rem;
  
}

nav ul li:hover {
  background-color: darkgray;
}

main {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 2px 15px gray;
}

main div {
  text-align: center;
  font-family: 'Quicksand';
  background-color: #ececec;
  padding: 1em;
  border: 1px solid #444;
}

h2 {
  color: darkred;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 2px 0px 10px darkgray;
}

.heroImages {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#weather #weatherInfo {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: auto;
 align-items: center;
 border: none;
}

#weather #weatherInfo #weatherImg {grid-area: 1/2/3/2;}
#weather #weatherInfo #weatherC {font-size: 1.5em; font-weight: bold;}

#spotlights section:nth-child(3) {
  display: none;
}

#spotlights section {
  border: 1px solid #444;
  background-color: darkred;
  margin: 0;
  padding: 0 1em;
  text-align: center;
}

#join {
  display: none;
}


footer {
  background-color: darkred;
  font-family: 'Quicksand';
  text-align: center;
  color: white;
  padding: 1% 0;
  box-shadow: 0 2px 15px gray;
}

footer div:nth-child(1) {font-size: 1.2rem;}
footer div:nth-child(2) {font-size: 0.5rem;}

#logofooter img {
  width: 80px;
  background-color: white;
  border-radius: 50%;
  margin-top: 1%;
  padding-bottom: 0%;
}

#footer1 p {
  margin: 3%;
  padding: 1%;
}

#footer1 a {
  color: white;
  text-decoration: none;
}

#footer1 a::before {
  content: "📍";
}

#footer2 ul li {
  list-style: none;
}


#karolName, #chamberNameFooter { 
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.15rem;
}

#to-portal-page {
  text-decoration: none;
  color: whitesmoke;
}

#to-portal-page:hover {
  box-shadow: 0 2px 15px gray;
  padding: 5px 10px 0px 10px;
}

hr {
  color: darkgray;
  opacity: 5;
  clear: left;
}

/* --- images ---- */

#hero {
  position: relative;
  padding: 0 0;
  background-color: transparent;
}

#event {
  background-color: darkred;
}

#event h2, #spotlights section h2 {color: white;}
#event, #spotlights section {color: white;}

#hero .heroImages {
  max-width: 100%;
}

#hero h2 {
  position: absolute;
  text-shadow: 0 2px 15px darkred;
  margin-left: 2%;
  margin-top: 1%;
  font-size: 2em;
}

#joinBtn {
  position: absolute;
  font-size: 1em;
  background-color: darkred;
  color: white;
  font-family: 'Quicksand';
  font-weight: bold;
  cursor: pointer;
  bottom: 2%;
  right: 2%;
  padding: 1%;
  box-shadow: 0 2px 15px gray; 
}

#joinBtn:hover {
  font-size: 1.1em;
  background-color: black;
} 

/* ----------DISCOVERY HTML-----------*/
#discoveryMain figure {
  display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-bottom: 1em;
    overflow: hidden;
}

#discoveryMain figure img[data-src] {
  filter: blur(.2em);
}

#discoveryMain figure img {
  filter:blur(0em);
  transition: filter 0.5s;
  max-width: 100%;
  margin: 0 auto;
}

#discoveryMain figure figcaption {
  font-family: 'Quicksand';
  text-align: justify;
  font-size: smaller;
  padding: 5px 10px;
}

