@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Girassol&family=Quicksand:wght@300&display=swap');

.banner {
  text-align: center;
  background-color: darkred;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.3rem;
  padding: 1% 1%;
}

#banner {
  display: none;
}

.icon-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 2px 15px darkgray;
  padding: 5px 5px;
  cursor: pointer;
  opacity: 90%;
}

header {
	background-color: #fff;
	display: grid;
  grid-gap: 4%;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  box-shadow: 0 2px 15px gray;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
  grid-column: 1;
	width: 80px;
}

.headings {
  display: flex;
	flex-direction: column;
}

.headings h1 {
	font-family: 'Girassol';
  font-size: 1.3rem;
  margin-bottom: 1%;
  text-shadow: 0 2px 15px gray;
}

.headings h2 {
  font-family: 'Bebas Neue', cursive;
  margin-top: 0%;
	color: darkred;
	font-weight: 700;
	font-size: 1rem;
}

.social {
  grid-column: 3/4;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.social img {
	max-width: 28px;
}

#headerDate {
  grid-column: 1/5;
  background-color: darkred;
  font-family: 'Bebas Neue', cursive;
  font-size: 1em;
  letter-spacing: 0.2rem;
  padding: 2%;
  color: white;
  text-align: center;
  margin: 2%;
}

/*NAVIGATION*/
nav button {  
  background: darkred;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 3%;
}

nav {
  grid-column: 1/5;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 15px gray;
}

nav ul {
  display: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav ul li {
  padding: 1%;
  list-style: none;
  background-color: darkred;
  border-top: 1px solid rgb(0, 0, 0, 0.5);
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  padding: .8rem 2vw;
}

.active {
  background-color: darkgray;
  opacity: 90%;
}

.active a, nav ul li a:hover {
  color: darkred;
  font-size: 1.4rem;
  
}

nav ul li:hover {
  background-color: darkgray;
}

main {
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 2px 15px gray;
}

main div {
  text-align: center;
  font-family: 'Quicksand';
  background-color: #ececec;
  padding: 1em;
  border: 1px solid #444;
}

h2 {
  color: darkred;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 2px 0px 10px darkgray;
}

.heroImages {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#weather #weatherInfo {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: auto;
 align-items: center;
 border: none;
}

#weather .tempparagraph {font-size: 1em; font-weight: bold;}
#weather #weatherInfo #weatherC {font-size: 1.2em;}
#weathericon {max-width: 100%;}

#spotlights section:nth-child(3) {
  display: none;
}

#spotlights section {
  border: 1px solid #444;
  background-color: darkred;
  margin: 0;
  padding: 0 1em;
  text-align: center;
}

#join {
  display: none;
}


footer {
  background-color: darkred;
  font-family: 'Quicksand';
  text-align: center;
  color: white;
  padding: 1% 0;
  box-shadow: 0 2px 15px gray;
}

footer div:nth-child(1) {font-size: 1.2rem;}
footer div:nth-child(2) {font-size: 0.5rem;}

#logofooter img {
  width: 80px;
  background-color: white;
  border-radius: 50%;
  margin-top: 1%;
  padding-bottom: 0%;
}

#footer1 p {
  margin: 3%;
  padding: 1%;
}

#footer1 a {
  color: white;
  text-decoration: none;
}

#footer1 a::before {
  content: "📍";
}

#footer2 ul li {
  list-style: none;
}


#karolName, .chamberNameFooter { 
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.15rem;
}

#to-portal-page {
  text-decoration: none;
  color: whitesmoke;
}

#to-portal-page:hover {
  box-shadow: 0 2px 15px gray;
  padding: 5px 10px 0px 10px;
}

hr {
  color: darkgray;
  opacity: 5;
  clear: left;
}

/* --- images ---- */

#hero {
  position: relative;
  padding: 0 0;
  background-color: transparent;
  z-index: -1;
}

#event {
  background-color: darkred;
}

#event h2, #spotlights section h2 {color: white;}
#event, #spotlights section {color: white;}

#hero .heroImages {
  max-width: 100%;
}

#hero h2 {
  position: absolute;
  text-shadow: 0 2px 15px darkred;
  margin-left: 2%;
  margin-top: 1%;
  font-size: 2em;
}

#joinBtn {
  position: absolute;
  font-size: 1em;
  background-color: darkred;
  color: white;
  font-family: 'Quicksand';
  font-weight: bold;
  cursor: pointer;
  bottom: 2%;
  right: 2%;
  padding: 1%;
  box-shadow: 0 2px 15px gray; 
}

#joinBtn:hover {
  font-size: 1.1em;
  background-color: black;
} 

/* ----------DISCOVERY HTML-----------*/
#discoveryMain figure {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  z-index: -1;
}

#discoveryMain figure img[data-src] {
  filter: blur(.2em);
}

#discoveryMain figure img {
  filter:blur(0em);
  transition: filter 0.5s;
  max-width: 100%;
  margin: 0 auto;
}

#discoveryMain figure figcaption {
  font-family: 'Quicksand';
  text-align: justify;
  font-size: smaller;
  padding: 5px 10px;
}

/*-----FORM---------*/
#joinMain, .thanksMain {
  display: flex;
  flex-direction: column;
  width: 96%;
  padding: 0 1%;
  z-index: -1;
}

#contactMain {
  display: flex;
  flex-direction: column;
  width: 96%;
  padding: 0 1%;
  z-index: -1;
}

#joinMain h1, #thanksMain h1, #contactMain h1 {
  font-family: 'Girassol';
  font-size: 1.5rem;
  padding: .75rem;
  text-shadow: 0 2px 15px gray;
}

form fieldset {
  font-family: 'Bebas Neue', cursive;
  margin: 2rem 0;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: darkred;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, #thanksMain{
  font-family: 'Quicksand';
  font-weight: 900;
  display: block;
  padding-top: 1rem;
  color: darkslategray;
  font-size: .8rem;
}

form label.top input, form label.top select, form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-weight: 900;
  font-size: 1rem;
  border: solid 1px darkgray;
  border-radius: 4px;
  padding: .75rem;
  color: darkred;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  font-family: 'Quicksand';
  font-weight: 900;
  padding: .75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: darkred;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/*----DIRECTORY page----*/
#directoryMain {
  display: flex;
  flex-direction: column;
  width: 96%;
  padding: 0 1%;
  margin: 1% auto;
  z-index: -1;
}

div.cards {
  display: flex;
  flex-direction: column;
}


.cards section {
    background-color: white;
    box-shadow: 0 2px 15px darkgray;
    margin: 2% 0;
    padding: 2% 2%;
    font-weight: 900;
    border-radius: 5px;
}

.cards section img {
  max-width: 100px;
  box-shadow: 0 2px 15px rgb(49, 33, 33);
  margin: 0%;
  padding-bottom: 0%;
  border-radius: 50px;
}

.cards section h2, .cards section p {
  margin: .8rem;
  padding: 0%;
}

.cards section a {
  overflow-wrap: break-word;
}

.businessBtns {
  display: flex;
  justify-content: center;
  padding: 0 0 1% 0;
  background-color: white;
  border: none;
}

#cardsBtn, #listsBtn {
  padding: .5% 1%;
  margin: 0 2%;
  font-size: 1.6em;
  cursor: pointer;
  box-shadow: 0 2px 15px darkgray;
  background-color: darkred;
  color: white;
  border-radius: 3px;
}

#cardsBtn:hover, #listsBtn:hover {
  font-size: 2em;
  background-color: darkgray;
  color: darkred;
}

/*table View*/
#listToggle {
  display: none;
}

#directoryMain #listToggle table {
  width: 100%;
  margin: 0 auto;
  font-size: .8em;
  z-index: -1;
}

#directoryMain #listToggle table tr {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1% 0;
  border: thin solid darkred;
  border-radius: 5px;
}

#directoryMain #listToggle table tr td {
	padding: 2% 2%;
  font-weight: bolder;
  text-align: left;
}

#directoryMain #listToggle table tr td:first-child {
  font-size: 1.2em;
	font-family: 'Bebas Neue', cursive;
  background-color: darkred;
  color: white;
  letter-spacing: .2em;
}

#directoryMain #listToggle table tr td:first-child:hover {
  background-color: white;
  color: darkred;
}

#directoryMain #listToggle tr:hover {
  background-color: darkred;
  color: white;
  font-size: 1.2em;
}

/*---------------contact Html---------*/
#contactMain div {
  text-align: left;
  border: none;
}

#contactMain div p {
  padding-bottom: 0;
}

.contactSpan {
  color: darkred;
  letter-spacing: normal;
}

#contactMain div iframe {
  box-shadow: 0 2px 15px darkgray;
  margin: 0;
  padding-top: 0;
}
