@media (min-width: 40em) {

  .logo img {
    max-width: 100%;
  }

  .headings {
    flex-direction: column;
    align-self: center;
    align-items: baseline;
  }

  .headings h1 {
    font-size: 1.6rem;
  }

  .social img {
    max-width: 32px;
  }

  #nav button {
    font-size: 2rem;
    width: 32px;;
  }

  #headerDate {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  main {
    display: grid;
    grid-template-columns: 50% 50%;
    align-self: center;
  }

  #hero {
    grid-area: 1/1/1/3;
  }

  #event {
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  #event a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
  }


  #news {
    grid-area: 2/1/2/3;
  }

  #spotlights {
    grid-area: 3/1/3/3;
    display: flex;
    justify-content: space-around;
  }

  #spotlights section:nth-child(3) {display: none;}

  #join {
    display: block;
    grid-area: 4/1/4/3;
  }

  #footer1 {
    display: flex;
    justify-content: space-between;
  }

  #logofooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
  }
  div#footer1 p:nth-child(2) {text-align: left; margin-left: 1%; }

  #footer2 {
    margin: 2%;
  }

  #footer2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1%;
    width: 80%;
    margin: 0 auto;
  }

  #footer2 ul li:not(:last-child) {
    border-right: 1pt solid;
  }

  #footer2 ul li:last-child{
    grid-area: 2/1/2/4;
    border: none;
    padding-top: 1%;
  }

  /* ----------DISCOVERY HTML-----------*/
#discoveryMain figure:hover {
  background-color: darkred;
  color: white;
  box-shadow: 0 0px 50px darkgray;
  font-size: large;
}

}