@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/*font-family: 'Ubuntu', sans-serif;*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}

table {
  text-align: center;
  border-collapse: collapse;
}

th, td {
  border: 1pt solid black;
}