/*Fonts: Great Vibes and libre Baskerville*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Baskerville&display=swap');

/*---------------------MOBILE VIEW ----------------------*/
:root {
  --bg-color: #332f2c;                  /* Special background color */
  --bg-generic: white;                  /* Background color genérico */
  --color-title: #C8AD7E;               /* font color for titles */
  --color-p: #332f2c;                   /* font color for paragraphs */
  --font-title: 'Great Vibes', cursive;   /* font family for titles */
  --font-p: 'Libre Baskerville', serif;   /* font family for paragraphs */
  --shadow: 0 2px 15px darkgray;       /* Shadow style for boxes */
  --bg-form-input: rgba(0, 0, 0, 0.1); /* Background color of the inputs in the form */
}

body {
  display: flex;
  flex-direction: column;
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  background-color: var(--bg-generic);
  box-shadow: var(--shadow);
}

header #mainTitle {
  display: none;
}

/*LOGO*/
header #logo img {
  width: 150px;
}

header .socialMedia {
  display: flex;
  flex-direction: row;
}

header .socialMedia img {
  width: 20px;
  margin: 0 3px;
}

header .socialMedia img:hover {
  width: 25px;
}

/*NAVIGATION MENU*/
.navBtn {
  background: var(--bg-color);
  border: none;
  font-size: 1.3rem;
  border-radius: 4px;
  color: var(--bg-generic);
  cursor: pointer;
  margin: 0%;
  padding-top: 3px;
  padding-bottom: 5px;
  box-shadow: var(--shadow);
}

nav {
  font-family: var(--font-p);
  font-size: 1rem;
}

nav ul {display: none;}
nav ul.open {
  display: block;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  padding-top: 0%;
  margin-top: 0%;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

.navigation ul li {
  padding: 1%;
  list-style: none;
  border-top: 1px solid rgb(0, 0, 0, 0.5);
}

.navigation ul li a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  padding: .8rem 1vw;
}

.active {
  font-size: 1.2rem;
  border-radius: 8px;
}

.active::marker {
  content: "｡★｡";
}

/*Nav hover*/
.navigation ul li:hover::marker, .navigation ul li a:hover {
  content: "｡★｡";
  color: var(--color-title);
  transition-duration: .5s;
  transition-timing-function:ease-in-out;
  font-size: 1.2rem;  
}

/*MAIN*/
main {
  width: 95%;
  margin: 0 auto;
  box-shadow: var(--shadow);
  margin-top: 10px;
}

/*BANNER*/
.mainBanner {
  padding: 0;
  margin-top: 0;
}

.mainBanner picture {
  position: relative;
  width: 100%;
  z-index: -2;
}

.mainBanner picture img, .mainBanner picture source {
  width: 100%;
}

/*SECTIONS*/
section {
  box-shadow: var(--shadow);
  font-family: var(--color-p);
  padding: .5rem 1.5rem;
  margin: 3% 0;
  text-align: justify;
}

section h2 {
  font-family: var(--font-title);
  text-shadow: var(--shadow);
  padding-bottom: 0%;
}

hr {
  border: thin dashed var(--bg-form-input);
  width: 85%;
  margin-left: inherit;
}

.spotlights {
  position: relative;
}

.spotlights img {
  max-width: 100%;
}

.spot2, .spot3 {display: none;}

 /*WEATHER & BOOKING DIV*/
.weatherContainer {
  font-family: var(--font-p);
  color: var(--bg-generic);
	border: 1px thin var(--bg-color);
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
  background: radial-gradient(var(--bg-form-input), var(--bg-color));
	opacity: .9;
}

.bookNow {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 120px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  padding: 2%;
  z-index: -1;
}

.bookNow #bookBtn {
  width: 100%;
  font-family: var(--font-title);
  background: radial-gradient(var(--bg-form-input), var(--bg-color));
  font-size: 1.3rem;
  color: var(--bg-generic);
  cursor: pointer;
  padding: 4%;
}

/*CONTACT FORM*/
.contactUs form {
  display: flex;
  flex-direction: column;
}

.contactUs form label.top {
  font-family: var(--font-p);
  display: block;
  padding-top: 1rem;
  color: var(--color-p);
  font-size: .8rem;
}

fieldset {
  position: relative;
}

.contactUs form label.top input, form label.top select, form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px var(--bg-color);
  border-radius: 4px;
  padding: .75rem;
  color: var(--color-p);
  max-width: 100%;
  width: 90%;
  background-color: var(--bg-form-input);
}

.contactUs form .submitBtn {
  border: none;
  font-family: var(--font-p);
  background-color: var(--bg-color);
  color: var(--bg-generic);
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 1rem 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  cursor: pointer;
  box-shadow: var(--shadow);
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/*GO Up ARROW*/
.icon-up {
  position: fixed;
  width: 32px;
  bottom: 20px;
  right: 20px;
  box-shadow: var(--shadow);
  border-radius: 50px;
  padding: 5px 5px;
  cursor: pointer;
  opacity: .8;
  background-color: var(--bg-generic);
}

/*FOOTER*/
footer {
  background-color: var(--bg-color);
  color: var(--bg-generic);
  font-family: var(--font-p);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: .9rem;
}

#footer1 img {
  width: 150px;
  margin: 0%;
  padding: 0%;
}

#footer1 iframe {
  margin-bottom: 2%;
}

#footer1 p {
  padding: 0%;
  margin: 1%;
}

#footer2 {
  background-color: black;
  font-size: .7rem;
  border-top: thin solid var(--bg-generic);
}

#footer2 ul li {
  list-style: none;
  padding-bottom: 1%;
}

/* ------------------- MEDIUM VIEW ---------------------------*/
@media screen and (min-width: 35em) {
  .weatherContainer {
    position: absolute;
    top: 20%;
    left: 50px;
  }

  /*LOGO MEDIUM*/
  header #logo img {
    width: 100px;
  }

  /*MENU*/
  .navBtn {
    display: none;
  }

  /*MAIN TITLE*/
  header #mainTitle {
    font-family: var(--font-title);
    color: var(--color-p);
    text-shadow: var(--shadow);
    font-size: 1.5rem;
    display: block;
  }

}

/*---------------------- LARGE VIEW --------------------------*/
@media screen and (min-width: 45em) {
  /*LOGO LARGE*/
  header #logo img {
    width: 80%;
  }

  /*MAIN TITLE*/
  header #mainTitle {
    font-size: 1.7rem;
  }

}