/*Fonts: Great Vibes and libre Baskerville*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Baskerville&display=swap');

/*---------------------MOBILE VIEW ----------------------*/
:root {
  --bg-color: #332f2c;                  /* Special background color */
  --bg-generic: white;                  /* Background color genérico */
  --color-title: #C8AD7E;               /* font color for titles */
  --color-p: #332f2c;                   /* font color for paragraphs */
  --font-title: 'Great Vibes', cursive;   /* font family for titles */
  --font-p: 'Libre Baskerville', serif;   /* font family for paragraphs */
  --shadow: 0 2px 15px darkgray;       /* Shadow style for boxes */
  --bg-form-input: rgba(0, 0, 0, 0.1); /* Background color of the inputs in the form */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mainTitle {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  position: sticky;
  box-shadow: var(--shadow);
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialMedia img {
  width: 32px;
}

/*NAVIGATION MENU*/
header nav {
  font-family: var(--font-p);
  font-size: 1rem;
}

header nav button {
  background: var(--bg-color);
  border: none;
  font-size: 1.5rem;
  border-radius: 4px;
  color: var(--bg-generic);
  cursor: pointer;
  margin: 0%;
  padding-top: 3px;
  padding-bottom: 3px;
}

nav ul {display: none;}
nav ul.open {
  display: block;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  padding-top: 0%;
  margin-top: 0%;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

header .navigation ul li {
  padding: 1%;
  list-style: none;
  border-top: 1px solid rgb(0, 0, 0, 0.5);
}

header .navigation ul li a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  padding: .8rem 1vw;
}

.active {
  font-size: 1.2rem;
  border-radius: 8px;
}

.active::marker {
  content: "｡★｡";
}

/*Nav hover*/
header .navigation ul li:hover::marker, header .navigation ul li a:hover {
  content: "｡★｡";
  color: var(--color-title);
  transition-duration: .5s;
  transition-timing-function:ease-in-out;
  font-size: 1.2rem;  
}

/*BANNER*/
.mainBanner picture {
  position: relative;
  width: 100%;
}

.mainBanner picture img, .mainBanner picture source {
  max-width: 100%;
}

/*WEATHER*/
.weatherContainer {
  background-color: var(--bg-color);
  width: 50%;
  font-family: var(--font-p);
  color: var(--bg-generic);
}

/*CONTACT FORM*/
.contactUs form {
  display: flex;
  flex-direction: column;
}

.contactUs form label.top {
  font-family: var(--font-p);
  display: block;
  padding-top: 1rem;
  color: var(--color-p);
  font-size: .8rem;
}

.contactUs form label.top input, form label.top select, form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px var(--bg-color);
  border-radius: 4px;
  padding: .75rem;
  color: var(--color-p);
  width: 100%;
  max-width: 20rem;
  background-color: var(--bg-form-input);
}

.contactUs form .submitBtn {
  border: none;
  font-family: var(--font-p);
  background-color: var(--bg-color);
  color: var(--bg-generic);
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 1rem 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  cursor: pointer;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/*GO Up ARROW*/
.icon-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: var(--shadow);
  padding: 5px 5px;
  cursor: pointer;
  opacity: 90%;
}

/* ------------------- MEDIUM VIEW ---------------------------*/
@media screen and (min-width: 40em) {

}

/*---------------------- LARGE VIEW --------------------------*/
@media screen and (min-width: 56em) {

}